.container-fluid .loader-wrapper {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.container-fluid .loader-wrapper .loader {
  border: 6px solid #f3f3f3;
  /* Light grey */
  border-top: 6px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  position: relative;
  top: 47%;
  left: 47%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container-fluid .product-wrapper .form-group .label-control {
  margin-right: 10px;
}
.container-fluid .product-wrapper .form-group .form-control {
  display: inline-block;
}
.container-fluid .product-wrapper .product-box {
  height: 90vh;
  overflow: auto;
  position: relative;
  width: 100%;
}
.container-fluid .product-wrapper .product-box .tile {
  background: #ececec;
  margin: 10px;
  padding: 30px;
  height: 300px;
  border-radius: 4px;
  border: 1px solid lightgray;
  display: grid;
}
.container-fluid .product-wrapper .product-box .tile .prod-display {
  font-size: 2em;
  margin-bottom: 15px;
}
.container-fluid .product-wrapper .product-box .tile .price label,
.container-fluid .product-wrapper .product-box .tile .size label,
.container-fluid .product-wrapper .product-box .tile .date label {
  font-weight: bold;
}
